.grouped-actions {
	background: #f9f9f9;
	height: 100vh;
	border-left: 1px solid #ddd;
	position: fixed;
	right: 0;
}

.chat-box {
	position: relative;
}
.send-message {
	position: sticky;
	left: 0;
	bottom: 0;
	input, .button {
		padding: 1em;
		height: auto;
	}
}

.form-actions {
	padding: 1em;
}


.event-messages {
	p {
		padding: .8em; 
		small {
			color: #aaa;
		}
	}
	p:nth-child(odd) {
		background: #f8f8f8;		
	}
}
