$blue: #2892D7;

.navbar {
	padding: 1em 0;
	a { 
		color: #333;
		font-size: .8em;
		&.login-link {
			font-weight: bold;
		}
	}
}
.home {
	background: $blue;
}

.home-content {

	h3 {
		font-weight: 400 !important;
	}

	.home-about {
		align-self: center;
		z-index: 2;
		h1, h3 {
			color: white;
		}
	}

	.title {
		z-index: 2;
		font-size: 3em;
	}

	.sign-up  {
		z-index: 2;
		align-self: center;
		margin-top: 2.5em;
	}

}

#particles-js {
	position: relative;
	.particles-js-canvas-el {
		position: absolute;
		top: 0;
		z-index: 1;
	}
}
